form{
  margin-right: : 0;
text-align: right;

}
body{
  display:flex;
  justify-content: center;

}
body {
background-image: url("images/bois.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
head {


}
